[[extend 'layout.html']]

<style>
[v-cloak] {
  display: none;
}
.search-container {
  display: flex;
  align-items: center;
}

.search-container input.input {
  margin-right: 40rem;
}

.table-first tr:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
  }

.fa:hover {
  cursor: pointer;
}

#back:hover {
  background-color: rgb(239, 239, 239);
}

.compose-form {
    position: fixed;
    bottom: 10px;
    right: 30px;
    width: 500px;
  }

</style>
<div class="section mt-0" id="vue-target" v-cloak style="background-color: #f5f4f4;">
  <!-- Put your Vue.js template here -->
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="mb-2">
        <a class="button is-medium" id="composeButton" style="border-radius: 20px">
          <span class="icon">
            <i class="fa fa-edit"></i>
          </span>
          <span>Compose</span>
        </a>
      </div>
      <aside class="menu">
        <ul class="menu-list">
          <div>
            <li><a style="border-radius: 20px" @click="getInbox">
              <span class="icon">
                <i class="fa fa-inbox" style="color: #1d76c9;"></i>
              </span>
              <span>Inbox</span></a></li>
          </div>
          <div>
            <li><a style="border-radius: 20px" @click="getStarred">
              <span class="icon">
                <i class="fa fa-star" style="color: yellow;"></i>
              </span>
              <span>Starred</span></a></li>
          </div>
          <div>
            <li><a style="border-radius: 20px" @click="getSent">
              <span class="icon">
                <i class="fa fa-paper-plane" style="color: #ababab;"></i>
              </span>
              <span>Sent</span></a></li>
          </div>
          <div>
            <li><a style="border-radius: 20px" @click="getTrash">
              <span class="icon">
                <i class="fa fa-trash" style="color: #c64524;"></i>
              </span>
              <span>Trash</span></a></li>
          </div>
          <!-- <a class="is-active">Manage Your Team</a> -->
        </ul>
      </aside>
    </div>
    <div class="is-four-fifths" v-if="mailOption !== 1">
      <div class="field mb-2">
        <div class="search-container">
          <span>
            <input class="input" type="text" placeholder="Search in mail">
          </span>
          <span>
          <button class="button" id="back">
            <span class="icon">
              <i class="fa fa-search"></i>
            </span>
          </button>
          </span>
        </div>
      </div>
      <table class="table table-first is-narrow is-fullwidth">
        <tbody>
          <tr class="field has-addons my-0 pt-2" v-for="email in emails" :key="email.id" class="email">
            <td style="width: 4rem">
              <span>
                <label class="checkbox mt-1 mr-1">
                  <input type="checkbox">
                </label>
                <span class="icon checkbox">
                  <i class="fa fa-star"  :style="{ color: email.isStarred ? 'yellow' : '#e3e3e3' }"></i>
                  <!-- <i class="fa fa-star"  style="color: yellow"></i> -->
                </span>
              </span>
            </td>
            <td style="width: 10rem" @click="() => {viewMail(email);}">
              <span v-if="mailOption === 0">{{email.sender_name}}</span>
              <span v-if="mailOption === 2">To: {{email.receiver_name}}</span>
            </td>
            <td style="width: 50rem"  @click="() => {viewMail(email);}">{{email.message}}</td>
            <td style="width: 8rem"  @click="() => {viewMail(email);}">{{email.elapsed_time}}</td>
          </tr>
          <!-- Add more email rows here -->
        </tbody>
      </table>
      <section class="section" id="modal" style="display: none;">
        <div class="container">
          <div class="compose-form">
            <div class="control is-pulled-right">
              <button class="button is-danger is-small" id="closeMail">
                <span class="icon is-small">
                  <i class="fa fa-close"></i>
                </span>
              </button>
            </div>
            <div class="box">
              <form>
                <div class="field is-small">
                  <label class="label">To:</label>
                  <div class="control">
                    <input class="input" id="address" name="emailAddress" type="email" placeholder="Enter recipient email" required>
                  </div>
                </div>
    
                <div class="field is-small">
                  <label class="label">Subject:</label>
                  <div class="control">
                    <input class="input" id="subject" name="emailSubject" type="text" placeholder="Enter email subject" required>
                  </div>
                </div>
    
                <div class="field is-large">
                  <label class="label">Message:</label>
                  <div class="control">
                    <textarea class="textarea" id="emailContent" name="content" placeholder="Enter email message" required></textarea>
                  </div>
                </div>
    
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-primary" id="sendButton" type="button">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="is-four-fifths pb-6" v-if="mailOption === 1" style="background-color: white;">
      <div class="container pt-3 px-5">
        <div class="mb-2">
          <button class="button" style="border: none;" @click="getInbox">
            <span>
              <-
            </span>
          </button>
        </div>
        <div class="ml-6 mb-3 pt-5 pb-4">
          <p style="font-size: 25px;">{{mail.title}}</h1>
        </div>
        <table>
          <tr>
            <td class="mt-2">
              <span class="icon is-large">
                <i class="fa fa-user fa-2x"></i>
              </span>
            </td>
            <td style="width: 40rem">
              <p class="mt-1" style="font-size: 13px;"><strong>{{mail.sender_name}}</strong></p>
              <p class="mt-0" style="font-size: 13px;">{{mail.receiver_name}}</p>
            </td>
            <td>
              <span class="mt-1 icon">
                <i class="fa fa-star" :style="{ color: mail.isStarred ? 'yellow' : '#e3e3e3' }"></i>
                <!-- <i class="fa fa-star" style="color: yellow;"></i> -->
              </span>
              <span class="mt-1 icon">
                <i class="fa fa-trash" style="color: #c64524;"></i>
              </span>
              <span style="font-size: 13px">{{ mail.sent_at }}</span>
            </td>
          </tr>
        </table>
        <div class="ml-6 mt-4 mb-6 pb-6">
          {{mail.message}}
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_emails_url = "[[=XML(get_emails_url)]]";
  let get_sent_url = "[[=XML(get_sent_url)]]";
  let get_compose_url = "[[=XML(get_compose_url)]]";
</script>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/index.js"></script>
[[end]]
